.user-dashboard{
  display: flex;
  flex-direction: row;
  justify-content: center;
  div{
    border: solid black 1px;
    background: white;
  }
  margin-top: 20px;
}

.sidebar-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 100px;
}

.user-list{
  margin-top: 10px;
  margin-right: 30px;
}

.errors{
  list-style: none;
  color: red;
}