input {
    border: 5px transparent;
    background-color: white;
    border-radius: 5px;
    padding: 0 10px;
    width: 150px;
}

input:hover {
    border-bottom: 2px solid lightblue;
}

.sign-up {
  
  
  h1{
    font-size: 50px;
  }
}