.beer-index{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  h1{
    font-size: 36px;
  }
  width: 60%;
  align-items: center;
}

.beer-index-item{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 300px;
  padding: 10px;
  h2{
    font-size: 30px;
  }
  h3{
    font-size: 20px;
  }
  div{
    margin: 10px;
  }
  background: white;
  opacity: 0.9;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  margin-top: 15px;
  img{
    width: 100px;
    height: 100px;
  }
}

.form-top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}
.add-beer-button{
  border: 1px black solid;
  padding: 5px;
  border-radius: 2px;
  position: relative;
  margin: 5px;
  background: $navcolor;
  opacity: 0.9;
}

.beer-info{
  max-width: 300px;
}

img {
  border: 1px dotted black;
  padding: 5px;
}